.app {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 95vh;
  overflow: visible;
}

.searchForm {
  display: grid;
  grid-template-columns: 60vw 1fr;
  grid-template-rows: repeat(4, auto);
  background-color: white;
}

.searchFormFields {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
}

.searchFormButtons {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
}

.searchFormButtons button {
  margin: 5px;
  border-radius: 5px;
}

.searchFormRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #CCC;
}

.searchFormSelect {
  width: 100%;
}

.header {
  text-align: center;
  grid-column: span 2;
}

.resultsList {
  overflow: scroll;
  height: 100%;
}

.exoplanetResult {
  list-style: none;
  border-top: 2px solid #33333333;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.resultHeader {
  border: none;
  font-weight: bold;
}

.btn {
  font-size: larger;
}